
.tile-container .tile.flipped {
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  margin: 5px;
}

.tile-container .tile {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 20px;
  background-color: #eb6864;
  width: 100px;
  height: 100px;
  margin: 5px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: .5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: .5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: .5s;
  -o-transform-style: preserve-3d;
  -o-transition: .5s;
  transform-style: preserve-3d;
  transition: .5s;
  box-shadow: 10px 10px 5px grey;
}
.tile-container .tile .face {
  background-color: #eb6864;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;

}
.tile-container .tile.front {
  position: absolute;
  background-color: #eb6864;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 20px;
}
.tile-container .tile .back {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 20px;
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
}
img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;

}
.tile-container {
  height: 800px;
  text-align: center;
  margin: 0 auto;
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
}
.eight {
  max-width: 500px;
}
.twenty {
  max-width: 600px;
}
.thirty {
  max-width: 700px;
}
button {
  margin: 22px !important;
  width: 200px;
}
.matches{
  color: #22b24c;
  font-size: 30px;
  margin: 15px;
}
.attempts{
  color: tomato;
  font-size: 30px;
  margin: 15px
}
.stop-flickering {
  -webkit-transform:translate3d(0,0,0);
}
