
.tile.flipped {
  transform: rotateY(0deg);
  margin: 5px;
}
.tile {
  display: inline-flex;
  border-radius: 20px;
  background-color: #eb6864;
  width: 100px;
  height: 100px;
  margin: 5px;
  transform: rotateY(180deg);
  transition: transform 1s;
  box-shadow: 10px 10px 5px grey;
  transform-style: preserve-3d;
}
img {
  border-radius: 10px;
  max-height: 100%;
  max-width: 100%;

}
.tile-container {
  width: 500px;
  height: 800px;
  text-align: center;
  margin: 0 auto;
}
button {
  margin: 22px !important;
  width: 150px;
}
.matches{
  color: #22b24c;
  font-size: 30px;
  margin: 15px;
}
.attempts{
  color: tomato;
  font-size: 30px;
  margin: 15px
}
.wrap {
  float: left;
  margin: 30px;
}
